.airline-logo-small {
    display: none;
}
.airline-logo {
    display: none !important;
}

.controls .screen {
    display: none !important;
}

.controls .board-info {
    top: 15px;
}

.controls .board-info .route {
    white-space: normal !important;
}

.landscape .controls .users-box {
    top: 175px;
}

.train_nav {
    position: absolute;
    margin: 0 auto;
    right: 25%;
    left: 25%;
    top: 15px;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    pointer-events: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.train_nav thead {
  text-align: center;
  pointer-events: auto;
}
.train_nav .info {
  pointer-events: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.train_nav td.hide {
    visibility: hidden;
}

.train_nav .current {
    font-size: 20px;
    width: 180px;
}

.train_nav .current .type {
    font-size: 14px;
}

.train_nav .neighbors {
    font-size: 16px;
    width: 140px;
    cursor: pointer;
}

.train_nav .neighbors .type {
    font-size: 12px;
}
.train_nav .info {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #000;
  text-align: left;
  font-size: 0.85em;
}
.train_nav .info td{
  vertical-align: top;
}

.train_nav .info .price,
.train_nav .info .descr,
.train_nav .info .carrier {
  width: 100%;
  margin-top: 10px;
}
.train_nav .info .name {
  padding-right: 10px;
  white-space: nowrap;
}
.train_nav .info .text {
  vertical-align: middle;
}
.train_nav .info .info_icon {
  width: 30px;
  height: 22px;
  display: inline-block;
  background: url(../img/icons.png) no-repeat;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}
.train_nav .info .info_icon.ELREG {
  width: 28px;
  background-position: -98px 0;
}
.train_nav .info .info_icon.EAT {
  background-position: 0 0;
}
.train_nav .info .info_icon.COND {
  height: 28px;
  background-position: 0 -39px;
  display: none;
}
.train_nav .info .info_icon.BED {
  background-position: 0 0;
  display: none;
}
.train_nav .info .info_icon.SAN {
  background-position: -96px 0;
  display: none;
}

.view .plane .deck .selection .wrap {
  -webkit-transform: rotate(-30deg) translate(-39px, -6px) skew(-15deg);
  -moz-transform: rotate(-30deg) translate(-39px, -6px) skew(-15deg);
  -ms-transform: rotate(-30deg) translate(-39px, -6px) skew(-15deg);
  -o-transform: rotate(-30deg) translate(-39px, -6px) skew(-15deg);
  transform: rotate(-30deg) translate(-39px, -6px) skew(-15deg);
  position: relative;
  
}

.platz_lower_top  .wrap {
  -webkit-transform: rotate(0deg) translate(-46px, 48px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(-46px, 48px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(-46px, 48px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(-46px, 48px) skew(0deg) !important;
  transform: rotate(0deg) translate(-46px, 48px) skew(0deg) !important;
}
.platz_lower_left  .wrap {
  -webkit-transform: rotate(0deg) translate(-28px, 56px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(-28px, 56px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(-28px, 56px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(-28px, 56px) skew(0deg) !important;
  transform: rotate(0deg) translate(-28px, 56px) skew(0deg) !important;
}
.platz_lower_right  .wrap {
  -webkit-transform: rotate(0deg) translate(7px, 77px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(7px, 77px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(7px, 77px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(7px, 77px) skew(0deg) !important;
  transform: rotate(0deg) translate(7px, 77px) skew(0deg) !important;
}
.platz_upper_left  .wrap {
  -webkit-transform: rotate(0deg) translate(-71px, 132px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(-71px, 132px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(-71px, 132px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(-71px, 132px) skew(0deg) !important;
  transform: rotate(0deg) translate(-71px, 132px) skew(0deg) !important;
}
.platz_upper_top  .wrap {
  -webkit-transform: rotate(0deg) translate(-104px, 44px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(-104px, 44px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(-104px, 44px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(-104px, 44px) skew(0deg) !important;
  transform: rotate(0deg) translate(-104px, 44px) skew(0deg) !important;
}
.platz_upper_right  .wrap {
  -webkit-transform: rotate(0deg) translate(-53px, 139px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(-53px, 139px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(-53px, 139px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(-53px, 139px) skew(0deg) !important;
  transform: rotate(0deg) translate(-53px, 139px) skew(0deg) !important;
}
.kupe_upper_left  .wrap {
  -webkit-transform: rotate(0deg) translate(-74px, 116px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(-74px, 116px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(-74px, 116px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(-74px, 116px) skew(0deg) !important;
  transform: rotate(0deg) translate(-74px, 116px) skew(0deg) !important;
}
.kupe_upper_right .wrap {
  -webkit-transform: rotate(0deg) translate(-111px, 130px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(-111px, 130px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(-111px, 130px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(-111px, 130px) skew(0deg) !important;
  transform: rotate(0deg) translate(-111px, 130px) skew(0deg) !important;
}
.kupe_lower_left  .wrap {
  -webkit-transform: rotate(0deg) translate(-32px, 50px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(-32px, 50px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(-32px, 50px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(-32px, 50px) skew(0deg) !important;
  transform: rotate(0deg) translate(-32px, 50px) skew(0deg) !important;
}
.kupe_lower_right  .wrap {
  -webkit-transform: rotate(0deg) translate(-35px, 85px) skew(0deg) !important;
  -moz-transform: rotate(0deg) translate(-35px, 85px) skew(0deg) !important;
  -ms-transform: rotate(0deg) translate(-35px, 85px) skew(0deg) !important;
  -o-transform: rotate(0deg) translate(-35px, 85px) skew(0deg) !important;
  transform: rotate(0deg) translate(-35px, 85px) skew(0deg) !important;
}

.platz_lower_right img ,
.platz_upper_right img ,
.kupe_upper_right img ,
.kupe_lower_right img {
  position: absolute;
  right: 0;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.platz_lower_left img ,
.platz_upper_left img ,
.kupe_upper_left img ,
.kupe_lower_left img {
  position: absolute;
  left: 0;
}
.platz_lower_right,
.platz_upper_right,
.kupe_upper_right,
.kupe_lower_right {
  text-align: right;
}

.platz_lower_left,
.platz_upper_left,
.kupe_upper_left,
.kupe_lower_left {
  text-align: left;
}
.platz_lower_left .wrap .label,
.platz_upper_left .wrap .label,
.kupe_upper_left .wrap .label,
.kupe_lower_left .wrap .label {
  left: 0;
}
.platz_lower_right .wrap .label,
.platz_upper_right .wrap .label,
.kupe_upper_right .wrap .label,
.kupe_lower_right .wrap .label {
  right: 0;
}